.hero {
  width: 100%;
  padding: 200px 0 150px;

  .heroImg {
    width: 100%;
    max-width: 880px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 991px) {
  .hero {
    padding: 150px 0 100px;
  }
}
