.ourProjects {
  padding: 200px 0;
  .wrapper {
    gap: 50px;
    display: flex;
    justify-content: center;
  }

  .list {
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .ourProjects {
    .wrapper {
      gap: 25px;
    }
  }
}
