.area {
  position: relative;
  padding: 100px 0 500px;
  height: auto;
  color: var(--color-white);
  background: url("../../../public/areaBg.png") center/cover no-repeat;

  .areaTitle {
    margin-bottom: 50px;
    color: var(--color-white);

    & span {
      margin-left: -200px;

      & span {
        margin-left: 0px;
      }
    }
  }

  .wrapper {
    height: 100%;
    gap: 100px;
    display: flex;
    align-items: center;
  }

  .list {
    gap: 100px;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .left {
    &:nth-child(1) {
      margin-top: 250px;
    }
  }

  .leftItem {
    align-self: flex-end;
  }

  .line {
    position: relative;
    height: 970px;
    width: 2px;
    background-color: var(--color-white);
    border-radius: 5px;

    & span {
      position: absolute;
      display: inline-block;
      width: 25px;
      height: 25px;
      background-color: var(--color-white);
      border-radius: 25px;
      left: -12px;
    }

    .lineFirst {
      top: 0;
    }
    .lineSeond {
      top: 20%;
    }
    .lineThird {
      top: 35%;
    }
    .lineFourth {
      top: 47%;
    }
    .lineFifth {
      bottom: 35%;
    }
    .lineSixth {
      bottom: 24%;
    }
    .lineSeventh {
      bottom: 10%;
    }
    .lineEighth {
      bottom: 0;
    }
  }

  .item {
    width: 100%;
    max-width: 450px;
  }

  .innerTitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--belyy);
  }

  .text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--belyy);
  }
}

@media (max-width: 1200px) {
  .area {
    .wrapper {
      gap: 50px;
      justify-content: center;
    }

    .left {
      &:nth-child(1) {
        margin-top: 150px;
      }
    }
    .innerTitle {
      font-size: 20px;
    }

    .text {
      font-size: 14px;
    }

    .line {
      .lineFirst {
        top: 14%;
      }
      .lineSeond {
        top: 25%;
      }
      .lineThird {
        top: 35%;
      }
      .lineFourth {
        top: 44%;
      }
      .lineFifth {
        bottom: 40%;
      }
      .lineSixth {
        bottom: 32%;
      }
      .lineSeventh {
        bottom: 18%;
      }
      .lineEighth {
        bottom: 11%;
      }
    }
  }
}

@media (max-width: 991px) {
  .area {
    .areaTitle {
      font-size: 50px;
      & span {
        font-size: 50px;
      }
    }
    .line {
      .lineFirst {
        top: 8%;
      }
      .lineSeond {
        top: 20%;
      }
      .lineThird {
        top: 35%;
      }
      .lineFourth {
        top: 44%;
      }
      .lineFifth {
        bottom: 40%;
      }
      .lineSixth {
        bottom: 32%;
      }
      .lineSeventh {
        bottom: 18%;
      }
      .lineEighth {
        bottom: 8%;
      }
    }
  }
}

@media (max-width: 768px) {
  .area {
    .wrapper {
      position: relative;
      flex-direction: column;
    }

    .line {
      top: 0;
      left: 50px;
      height: 1120px;
      position: absolute;

      .lineFirst {
        top: 0%;
      }
      .lineSeond {
        top: 14%;
      }
      .lineThird {
        top: 28%;
      }
      .lineFourth {
        top: 41%;
      }
      .lineFifth {
        bottom: 45%;
      }
      .lineSixth {
        bottom: 32%;
      }
      .lineSeventh {
        bottom: 18%;
      }
      .lineEighth {
        bottom: 3%;
      }
    }

    .list {
      gap: 50px;
      margin-left: 100px;
    }

    .left {
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .area {
    padding: 50px 0 100px;
    .areaTitle {
      font-size: 40px;
      & span {
        font-size: 40px;
        margin-left: -50px;
      }
    }
    .list {
      margin-left: 50px;
    }

    .line {
      left: 25px;
      height: 1600px;

      & span {
        width: 14px;
        height: 14px;
        left: -7px;
      }

      .lineFirst {
        top: 0%;
      }
      .lineSeond {
        top: 13%;
      }
      .lineThird {
        top: 25%;
      }
      .lineFourth {
        top: 37%;
      }
      .lineFifth {
        bottom: 50%;
      }
      .lineSixth {
        bottom: 36%;
      }
      .lineSeventh {
        bottom: 23%;
      }
      .lineEighth {
        bottom: 8%;
      }
    }

    .item,
    .list {
      max-width: 280px;
    }
  }
}
