.partners {
  padding: 300px 0 350px;
  // background-color: #f3f0e9;

  .partnersTitle {
    margin-bottom: 40px;
  }

  .list {
    gap: 50px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
