.partners {
  padding: 300px 0 350px;

  .partnersTitle {
    margin-bottom: 40px;
  }

  .list {
    gap: 50px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 991px) {
  .partners {
    padding: 150px 0 200px;

    .partnersTitle {
      font-size: 50px;

      & span {
        font-size: 50px;
        margin-left: 0px;
      }
    }
  }
}
