:root {
  // COLORS
  --color-red: #e7312d;
  --color-white: #fcfcfc;
  --color-black: #272727;
  --color-beige: #f3f0e9;

  // FONTS
  --font-zenMaru: var(--font-zenMaru);
  --font-oswald: var(--font-oswald);
  --font-inter: var(--font-inter);
  --font-averia: var(--font-averia);
  --font-open-sans-italic: var(--font-open-sans-italic);
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 1.3em;
  color: var(--color-black);
  background-color: var(--color-beige);
}

.def-title {
  text-align: center;
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 68px;
  line-height: 1em;
  letter-spacing: -0.01em;
  color: var(--color-black);
  & span {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 62px;
    line-height: 1.3em;
    letter-spacing: -0.02em;
    color: var(--chernyy);
    margin-left: -350px;

    & span {
      margin-left: 0px;
      color: var(--color-red);
    }
  }
}

.secondDef-title {
  text-align: center;
  font-family: var(--font-inter);
  font-weight: 700;
  font-style: italic;
  font-size: 68px;
  line-height: 1em;
  color: var(--color-black);
  margin-bottom: 50px;
  letter-spacing: -0.02em;

  & span {
    color: var(--color-red);
  }
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.linkWrapper {
  width: 50px; /* Начальная ширина только для иконки */
  height: 50px;
  position: fixed;
  right: 35px;
  bottom: 50px;
  z-index: 50;
  cursor: pointer;
  overflow: hidden;
  border-radius: 25px 25px 25px 0; /* Закругление слева */
  transition: all 0.5s ease;
}

.whatsAppLink {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  transition: all 0.5s ease;
  background: #fff; /* Белый фон для иконки */
  border-radius: 25px; /* Круглая иконка */
  z-index: 2;
}

.linkText {
  position: absolute;
  left: -100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  color: white;
  font-family: var(--font-inter);
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.5s ease;
  // width: calc(100% - 50px);
  width: 250px;
  // background: #4caf50;
  border-radius: 25px; /* Закругление слева */
}

.linkWrapper:hover {
  text-align: center;
  background: #4caf50;
  width: 200px; /* Финишная ширина всего блока */
  border-radius: 25px; /* Закругление слева */
  // background: #4caf50; /* Зеленый цвет фона */
}

.linkWrapper:hover .whatsAppLink {
  transform: translateX(-150px); /* Сдвиг иконки влево */
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.linkWrapper:hover .linkText {
  left: 0px; /* Появление текста */
  opacity: 1;
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
}
