:root {
  // COLORS
  --color-red: #e7312d;
  --color-white: #fcfcfc;
  --color-black: #272727;
  --color-beige: #f3f0e9;

  // FONTS
  --font-zenMaru: var(--font-zenMaru);
  --font-oswald: var(--font-oswald);
  --font-inter: var(--font-inter);
  --font-averia: var(--font-averia);
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 1.3em;
  color: var(--color-black);
  background-color: var(--color-beige);
}

.def-title {
  text-align: center;
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 68px;
  line-height: 1em;
  letter-spacing: -0.01em;
  color: var(--color-black);
  & span {
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 62px;
    line-height: 1.3em;
    letter-spacing: -0.02em;
    color: var(--chernyy);
    margin-left: -350px;

    & span {
      margin-left: 0px;
      color: var(--color-red);
    }
  }
}

.secondDef-title {
  text-align: center;
  font-family: var(--font-inter);
  font-weight: 700;
  font-style: italic;
  font-size: 68px;
  line-height: 1em;
  color: var(--color-black);
  margin-bottom: 50px;
  letter-spacing: -0.02em;

  & span {
    color: var(--color-red);
  }
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
