.swiper {
  width: 100%;
  max-width: 800px;

  /* Стили для навигации */
  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    color: black;
  }

  /* Стили для пагинации */
  :global(.swiper-pagination-bullet) {
    background: black;
    opacity: 0.2;
  }
  :global(.swiper-pagination-bullet-active) {
    background: black;
    opacity: 1;
  }
}

/* Остальные стили остаются без изменений */
.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  width: 100%;
  background-color: darkgray;
}

.imgWrapper {
  cursor: pointer;
  position: relative;
  z-index: 90;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalContent {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 900px;
  width: 100%;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  position: relative;
  width: 40px;
  height: 40px;
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 20px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 3px;
    width: 32px;
    height: 2px;
    border-radius: 2px;
    background-color: white;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.innerImg {
  width: 60%;
  height: 400px;
  margin-bottom: 40px;
  overflow-y: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
