.introduction {
  padding: 200px 0 50px;
  background-color: #f3f0e9;

  .introductionTitle {
    margin-bottom: 50px;
  }

  .introductionText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    text-align: justify;
    color: var(--chernyy);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .introductionTextTop {
    margin-bottom: 20px;
  }

  .archive {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    .archiveImageWrapper {
      & span {
        display: block;
        text-align: center;
      }
    }

    .archiveImg {
      width: 420px;
      height: 300px;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .archiveContent {
      width: 100%;
      max-width: 580px;
    }

    .archiveTitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.5em;
      margin-bottom: 10px;
    }
  }

  .audience {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    .audienceTop {
      margin: 50px 0;
      gap: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .audienceTitle {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 25px;
      line-height: 1.2em;
      margin-bottom: 20px;
      text-align: justify;
    }

    .audienceText {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5em;
      text-align: justify;
      max-width: 600px;
    }

    .audienceList {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .audienceImageWrapper {
      width: 100%;
      max-width: 300px;
      overflow: hidden;
    }
  }
}

@media (max-width: 991px) {
  .introduction {
    padding: 150px 0 50px;

    .introductionTitle {
      font-size: 50px;

      & span {
        font-size: 50px;
      }
    }
    .archive {
      .archiveTitle {
        font-size: 19px;
      }
      .archiveImg {
        width: 300px;
        height: 200px;
      }
    }

    .audience {
      .audienceTop {
        margin: 25px 0;
      }
      .audienceImg {
        width: 100%;
        max-width: 400px;
      }

      .audienceImageWrapper {
        height: 200px;
      }
    }
  }
}

@media (max-width: 768px) {
  .introduction {
    padding: 100px 0 50px;

    .introductionTitle {
      font-size: 40px;
      & span {
        font-size: 40px;
      }
    }
    .introductionText {
      max-width: 580px;
    }
    .archive {
      flex-direction: column;
      margin-bottom: 20px;

      .archiveImg {
        width: 100%;
        max-width: 300px;
      }
    }
    .audience {
      .audienceTop {
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
        max-width: 580px;
        margin: 40px auto;
      }

      .audienceImg {
        width: 100%;
        max-width: 400px;
        overflow: hidden;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .audienceImageWrapper {
        height: 150px;

        & img {
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .introduction {
    .audience {
      .audienceTop {
        margin-bottom: 10px;
      }
      .audienceImg {
        max-width: 300px;
      }
      .audienceList {
        align-items: center;
        flex-direction: column;
      }

      .audienceImageWrapper {
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 500px) {
  .introduction {
    .introductionTitle {
      font-size: 35px;
      margin-bottom: 30px;
      & span {
        font-size: 30px;
      }
    }

    .archive {
      .archiveImg {
        width: 100%;
        max-width: 100%;
      }
    }

    .introductionText {
      font-size: 14px;
    }
  }
}
