.gallery {
  padding: 0 0 400px;
  overflow: hidden;

  .galleryHero {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: url("../../../public/gallery/gallery-main.png") no-repeat
      center/cover;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .lastWrapper {
    margin-bottom: 80px;
  }

  .videoWrapper {
    position: relative;
    width: 50%;
    height: 400px;
    overflow: hidden;
    background-color: #ccc;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(1, 1, 1, 0.4);
      z-index: 5;
      top: 0;
      left: 0;
      position: absolute;
      transition: all 0.3s;
    }

    &:hover {
      &::after {
        background-color: rgba(1, 1, 1, 0.1);
      }

      & img {
        transform: scale(1.1);
      }

      .play {
        background-color: red;
        border: 1px solid var(--color-red);
        box-shadow: 10px 10px 55px #ccc;

        & svg {
          & path {
            fill: #010101;
            fill: var(--color-white);
          }
        }
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  .imagesWrapper {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .imgWrapper {
    width: 100%;
    max-width: 50%;
    height: 400px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      & img {
        transform: scale(1.1);
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  .play {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    border: 2px solid var(--color-white);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;

    & svg {
      position: relative;
      left: 4px;
      & path {
        transition: all 0.3s;
      }
    }
  }
}

@media (max-width: 1200px) {
  .gallery {
    .imgWrapper,
    .videoWrapper {
      height: 300px;
    }
  }
}

@media (max-width: 991px) {
  .gallery {
    padding: 0 0 300px;

    .imgWrapper,
    .videoWrapper {
      height: 200px;
    }

    .play {
      width: 70px;
      height: 70px;

      & svg {
        width: 25px !important;
        height: 40px !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    .imgWrapper,
    .videoWrapper {
      height: 150px;
    }
  }
}

@media (max-width: 500px) {
  .gallery {
    .wrapper {
      flex-direction: column;

      &:nth-child(even) {
        flex-direction: column-reverse;
      }
    }

    .videoWrapper {
      width: 100%;
      height: 250px;
    }

    .imagesWrapper {
      width: 100%;
    }

    .imgWrapper {
      height: 200px;
    }
  }
}
