.interbilim {
  position: relative;
  padding: 300px 0 0;
  color: var(--color-white);
  // background-color: #f3f0e9;
  background: url("../../../public/interbilim/interbilimBg.png") no-repeat
    top/cover;
  position: relative;

  .values {
    width: 100%;

    left: 0;
    position: absolute;
    top: -350px;

    .valuesTitle {
      color: var(--color-white);
      margin-bottom: 40px;
      & span {
        font-family: var(--font-inter);
        font-weight: 700;
        font-size: 68px;
        line-height: 1em;
        letter-spacing: -0.01em;
        color: var(--color-red);
        & span {
          margin-left: 345px;
        }
      }
    }

    .valuesList {
      width: 100%;
      background-clip: #ccc;
      gap: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .valuesItem {
      padding: 22px 20px;
      border-radius: 2px;
      background-color: #f3f0e9;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .valuesImgWrapper {
      width: 100%;
      max-width: 260px;
      height: 280px;
      overflow: hidden;
      margin: 0 auto 60px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .valuesInnerTitle {
      text-align: center;
      font-family: var(--font-averia);
      font-weight: 400;
      font-size: 30px;
      line-height: 1.3em;
      letter-spacing: -0.03em;
      color: var(--color-black);
    }
  }

  .numbers {
    .numbersTitle {
      margin-bottom: 40px;
      color: var(--color-black);
    }

    .numbersList {
      padding: 15px 22px;
      gap: 50px;
      display: flex;
      align-items: center;
      background: rgba(39, 39, 39, 0.6);
    }

    .numbersInnerTitle {
      font-family: var(--font-oswald);
      font-weight: 600;
      font-size: 70px;
      line-height: 1.3em;
      text-transform: capitalize;
    }

    .numbersText {
      font-family: var(--font-oswald);
      font-weight: 400;
      font-size: 20px;
      line-height: 1.3em;
    }
  }

  .reviews {
    position: relative;
    bottom: -200px;
    z-index: 10;

    .reviewsTitle {
      text-align: center;
      margin-bottom: 40px;
      color: var(--color-white);
      & span {
        & span {
          font-family: var(--font-inter);
          margin-left: 350px;
        }
      }
    }

    .reviewsCard {
      padding: 22px 100px;
      gap: 25px;
      display: flex;
      justify-content: center;
      color: var(--color-black);
      background-color: var(--color-white);
    }

    .reviewsImgWrapper {
      width: 300px;
      height: 320px;
      overflow: hidden;
      margin-bottom: 10px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .reviewsName {
      text-align: center;
      font-family: var(--font-zenMaru);
      font-weight: 400;
      font-size: 24px;
      line-height: 1.3em;
      letter-spacing: -0.04em;
      text-align: center;
    }

    .reviewsText {
      max-width: 500px;
      text-align: center;
      display: -webkit-box;
      -webkit-line-clamp: 15; /* Ограничиваем количество строк */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 20px;
    }

    .swiper {
      position: relative;
    }
    .customSwiperBtnPrev,
    .customSwiperBtnNext {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      z-index: 98;
      transform: translate(0%, -50%);
    }
    .customSwiperBtnPrev {
      left: 25px;
    }
    .customSwiperBtnNext {
      transform: translate(0, -50%) rotate(180deg);
      right: 25px;
    }
  }
}

@media (max-width: 1100px) {
  .interbilim {
    padding: 200px 0 0;

    .values {
      .valuesList {
        gap: 20px;
      }

      .valuesImgWrapper {
        height: 230px;
        margin: 0 auto 18px;
      }

      .valuesInnerTitle {
        font-size: 22px;
      }
    }

    .numbers {
      .numbersTitle {
        font-size: 50px;
        & span {
          font-size: 50px;
        }
      }
      .numbersList {
        gap: 20px;
      }
      .numbersInnerTitle {
        font-size: 50px;
      }
    }

    .reviews {
      .reviewsTitle {
        font-size: 50px;

        & span {
          font-size: 50px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .interbilim {
    padding: 130px 0 0;

    .numbers {
      .numbersInnerTitle {
        font-size: 40px;
      }
      .numbersText {
        font-size: 17px;
      }

      .numbersTitle {
        font-size: 40px;
        color: var(--color-white);
        & span {
          font-size: 40px;
          margin-left: 0px;
        }
      }
    }

    .reviews {
      bottom: -100px;

      .reviewsTitle {
        font-size: 40px;

        & span {
          font-size: 40px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .interbilim {
    padding: 0;
    .values {
      padding-bottom: 40px;
      position: static;

      .valuesList {
        padding: 0 10px;
        gap: 10px;
        flex-wrap: wrap;
      }

      .valuesTitle {
        color: var(--color-black);
        margin-bottom: 40px;
        font-size: 50px;
        & span {
          font-size: 50px;

          & span {
            font-size: 50px;
          }
        }
      }
      .valuesImgWrapper {
        // height: 150px;
      }

      .valuesInnerTitle {
        font-size: 17px;
      }
    }
    .numbers {
      .numbersList {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .numbersInnerTitle {
        text-align: center;
      }

      .numbersText {
        text-align: center;
      }
    }

    .reviews {
      .reviewsCard {
        align-items: center;
        padding: 22px 49px;
      }
      .reviewsImgWrapper {
        width: 222px;
        height: 250px;
      }

      .reviewsText {
        text-align: left;
        width: 100%;
        max-width: 500px;
        -webkit-line-clamp: 10;
      }

      .customSwiperBtnPrev,
      .customSwiperBtnNext {
        width: 30px;
        height: 30px;
      }
      .customSwiperBtnPrev {
        left: 10px;
      }
      .customSwiperBtnNext {
        transform: translate(0, -50%) rotate(180deg);
        right: 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  .interbilim {
    .values {
      .valuesImgWrapper {
        width: 100%;
        max-width: 80%;
      }
      .valuesItem {
        width: 100%;
        max-width: 100%;
      }
    }
    .reviews {
      bottom: -40px;
      .reviewsCard {
        align-items: center;
        padding: 22px 49px;
      }
      .reviewsImgWrapper {
        width: 170px;
        height: 200px;
      }

      .reviewsText {
        text-align: left;
        width: 100%;
        max-width: 500px;
        -webkit-line-clamp: 10;
      }

      .customSwiperBtnPrev,
      .customSwiperBtnNext {
        width: 30px;
        height: 30px;
      }
      .customSwiperBtnPrev {
        left: 10px;
      }
      .customSwiperBtnNext {
        transform: translate(0, -50%) rotate(180deg);
        right: 10px;
      }

      .reviewsName {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 500px) {
  .interbilim {
    .numbers {
      .numbersList {
        width: fit-content;
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
      }
    }
    .reviews {
      .reviewsCard {
        flex-direction: column;
      }
    }
  }
}
