.activities {
  padding: 80px 0;
  background-color: #f3f0e9;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  .activitiesTitle {
    margin-bottom: 50px;
    font-size: 40px;

    .titleSpan {
      display: inline;
      margin-left: 0;
      font-size: 40px;
      color: var(--color-red);
    }
  }

  .accordionWrapper {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .accordion {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #f3f0e9;
    padding: 15px 70px;
  }

  .accordionBtn {
    text-align-last: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accordionDesc {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 0 10px;
    transition: all 0.3s ease;
  }

  .accordionActive {
    max-height: 200px;
    padding: 20px 10px;
    overflow-y: auto;
    visibility: visible;
    opacity: 1;
  }

  .accordionBtn {
    span {
      transition: transform 0.3s ease;

      svg {
        transition: transform 0.3s ease;
        transform-origin: center;
      }
    }

    .activeSpan {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  // BOTTOM STARTS
  .bottom {
    .bottomWrapper {
      margin: 50px 0 20px 0;
      gap: 30px;
      display: flex;
      align-items: center;
    }

    .bottomList {
      margin: 30px 0;
      gap: 30px;
      display: flex;
      flex-direction: column;
    }

    .bottomItem {
      gap: 30px;
      display: flex;
      align-items: center;
    }

    .activitiesImagesWrapper {
      margin-top: 40px;
      display: grid;
      gap: 30px 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));

      .activitiesimg {
        width: 345px;
        height: 215px;
        overflow: hidden;
        margin: 0 auto;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .bottomText {
      font-weight: 4600;
      font-size: 16px;
      line-height: 1.5em;
      text-align: justify;
      margin-bottom: 20px;

      & span {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.3em;
        text-align: justify;
      }
    }

    .bottomContent {
      width: 100%;
      max-width: 50%;
    }

    .bottomImg {
      width: 100%;
      max-width: 50%;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 768px) {
  .activities {
    .bottom {
      .bottomWrapper {
        flex-direction: column;
      }

      .bottomContent {
        max-width: 100%;
      }

      .bottomImg {
        max-width: 60%;
      }
    }
  }
}

@media (max-width: 500px) {
  .activities {
    .bottom {
      .bottomImg {
        max-width: 100%;
      }
    }
  }
}
