.footer {
  position: relative;
  padding: 50px 0;
  color: var(--color-white);
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    top: -100%;
    left: 0;
    background: url("../../../public/footerBg.png") no-repeat center/cover;
    z-index: -1;
  }

  .logo {
    width: 255px;
    height: 175px;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .list {
    gap: 70px;
    display: flex;
    justify-content: space-around;
  }

  .item {
    gap: 15px;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: 20px;
  }

  .contacts {
    max-width: 270px;

    & .link {
      margin-bottom: 30px;
    }
  }

  .socialLinksWrapper {
    gap: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 150%;
      top: -50%;
      left: 0;
      background: url("../../../public/footerBg.png") no-repeat center/cover;
      z-index: -1;
    }

    .logo {
      width: 200px;
      height: 150px;

      & img {
        object-fit: contain;
      }
    }

    .list {
      gap: 20px;
    }
  }
}

@media (max-width: 991px) {
  .footer {
    &::after {
      height: 134%;
      top: -33%;
    }
    .list {
      gap: 40px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .logo {
      width: 150px;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    .list {
      flex-direction: column;
    }
  }
}
