.chronology {
  .chronologyTitle {
    margin-bottom: 30px;
  }

  .list {
    gap: 100px;
    display: flex;
    flex-direction: column;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 3px;
      background-color: red;
      top: 0;
      left: 140px;
    }
  }

  .item {
    gap: 40px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .descWrapper {
    position: relative;
    gap: 5px;
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      top: 48%;
      left: -30px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      border: 2px solid var(--color-red);
      background-color: var(--color-white);
    }

    &:nth-child(1) {
      &::before {
        left: -18px;
      }
    }
  }

  .desc {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2em;
  }
  .year {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: right;
  }
  .redYear {
    color: var(--color-red);
  }
}
